:root {
    --bg-accent-color: #8a3838;
    --bg-accent-secondary: #444;
    --bg-primary-color: #e4e2e2;
    --text-primary-color: #333;
    --text-accent-color: #fff;
    font-family: "Faculty Glyphic", sans-serif;
}

body {
    background-color: var(--bg-primary-color);
    color: var(--text-primary-color);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#menuButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: var(--bg-accent-color);
    border: none;
    color: var(--text-accent-color);
    font-size: 30px;
    font-weight: bold;
}

#menuButton::before {
    content: "↷";
    transition: transform 1s ease;
    display: inline-block;
}

#menuButton.open::before {
    transform: rotate(540deg);
}

nav {
    background-color: var(--bg-accent-color);
    width: 100%;
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.3s ease-out;
    overflow: hidden;
    padding: 0;
}

nav.open {
    grid-template-rows: 1fr;
    align-items: center;
    gap: 1rem;
}

nav ul {
    background-color: var(--bg-accent-color);
    margin: 0;
    overflow: hidden;
    list-style-type: none;
}

li {
    margin: 0.5rem 0;
}

li a {
    text-decoration: none;
    color: var(--text-accent-color);
}

li a:hover {
    font-weight: bold;
}

h1, h2, h3, p {
    margin: 1rem;
}

h2 a {
    text-decoration: none;
    color: var(--text-accent-color);
}

header {
    background-color: var(--bg-accent-color);
    color: var(--text-accent-color);
}

main {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
}

#pageTitle {
    position: absolute;
    top: 0;
    left: 0;
    color: var(--text-accent-color);
    padding: 0.5rem;
    background-color: rgb(51, 51, 51, 80%);
    border-radius: 10px;
}

#heroContainer {
  max-height: 600px; /* Set your desired maximum height */
  width: 100%;
  overflow: hidden; /* This is the key: it hides overflowing content */
  /* Optional: Set a width if you want to control horizontal cropping as well */
  /* width: 300px; */
}

#heroImg {
    width: 100%;
    height: auto;
    margin: 0;
    display: block;
}

.wayfind {
    font-weight: bold;
}

.widgit {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background-color: var(--text-accent-color);
    width: 90%;
    height: 500px;
    margin: 1rem 0;
    padding: 0;
    overflow: hidden;
}

.widgit h2{
    width: 100%;
    background-color: var(--bg-accent-color);
    color: var(--text-accent-color);
    text-align: center;
    margin: 0;
    padding: 0.5rem 0;
}

.search-bar {
    display: flex;
    margin: 0.5rem 0;
    justify-content: space-between;
    min-height: 1.5rem;
    width: 80%;
    & > input{
        flex-grow: 1;
        min-width: 4rem;
        margin-right: 0.5rem;
        min-height: 1.5rem;
    }
    & > button {
        min-height: 1.5rem;
    }
}

.results {
    width: 80%;
    flex-grow: 1;
    border: 1px solid black;
    border-radius: 10px;
    margin: 0.5rem 0;
    overflow: scroll;
    &::before {
        content: " ";
        display: none;
    }
    & > ul {
        list-style: none;
        justify-content: left;
    }

    & > ul li {
        text-align: left;
        margin: 0.5rem;
        width: 90%;
    }

    #actions h4, #actions p {
        margin: 2rem;
    }
}

.loading {
    &::before {
        display: block;
        width: 50px;
        height: 50px;
        margin: 150px auto; 
        border: 5px solid #f3f3f3; 
        border-top: 5px solid var(--bg-accent-color);
        border-radius: 50%; 
        animation: spin 1s linear infinite;
    }
}

.text-section {
    & ul{
        width: 100%;
        list-style: none;
        margin: 1rem 0;
        padding: 0;
    }
    & li {
        margin: 2rem 0;
        width: 100%;
    }
    & a {
        color: var(--bg-accent-color);
    }
}

.first-section {
    margin-top: 10rem;
}

#dice-widgit .results {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#widgit-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

footer {
    background-color: var(--bg-accent-color);
    color: var(--text-accent-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer a {
    margin: 1rem 0;
}